SERVER_ADDRESS="127.0.0.1:8000"
DB_SOURCE="postgresql://postgres:P@ssw0rd@localhost:5432/gophermart?sslmode=disable"
ACCRUAL_SYSTEM_ADDRESS="127.0.0.1:8080"

#go run main.go -a 127.0.0.1:8000 -d postgresql://postgres:P@ssw0rd@localhost:5432/gophermart?sslmode=disable -r 127.0.0.1:8080 -d postgresql://postgres:P@ssw0rd@localhost:5432/gophermart?sslmode=disable -r 127.0.0.1:8080
#./accrual_linux_amd64 -a 127.0.0.1:8080 -d postgresql://postgres:P@ssw0rd@localhost:5432/gophermart?sslmode=disabl